@media only screen and (max-width:1000px){
    .nav-list{
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 538px;
    }

    .rightNav{
        text-align: center;
    }

    #search{
        width: 100%;

    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 72px;
    }

    .v-class-resp{
        opacity: 0;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .form{
        max-width: 62%;
    }

    .section{
        flex-direction: column-reverse;
        height: auto;
    }

    .thumbNail img{
        margin-top: 5px;
    }

    .text-big{
        text-align: center;
    
    }

    .text-small{
        text-align: center;

    }

    .buttons{
        text-align: center;
    }

    .paras{
        padding: 0px;
        text-align: right;
    }
    
}