

#navbar{
    flex-direction: column;
    position: sticky;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 10px;
    padding-bottom: 8px;
   
}



#home{
    height: 250px;
   

}

#home::before{
    height: 400px;
}

#home p{
    font-size: 10px;
}



#services{
    flex-direction: column;
}

#services .box{
    padding: 5px;
    margin: 4px 0px;
    margin-bottom: 20px;

}




#client{
    flex-wrap: wrap;
}

#client img{

    width: 150px;
    height: auto;
    padding: 2px 5px;
}



/* Contact Us section */

#contact-box form{
    width: 80%;
}

/* footer*/

/* Utility Classes */

.h-primary {
    font-size: 20px;
}

.btn{
    font-size: 10px;
    padding:10px 10px;
}
